*{
				padding: 0;
				margin: 0;
}
/* nav start */
.nav{
				background-color: #778899;
				padding: 10px;
}
.nav h2{
				font-size:2.9rem;
				color: #9400D3;
}
.nav span{
				color: #4B0082;
}
.search{
				width: 330px;
				float: right;
				margin-left: 110px;
}
.srch{
				font-family: times new roman;
				width: 200px;
				height: 40px;
				background: transparent;
				border: 1px solid red;
}
.btn{
				width: 100px;
				height: 40px;
				background: gray;
				border: 2px solid blue;
				margin-top: 13px;
				
}


.menu{
				text-align:right;
}
.menu a{
				padding:5px 10px;
				margin:40px 0px;
				display:inline-block;
				text-decoration:none;
				font-size:2.1rem;
				color: white;
			
}
.menu a:hover{
				color: #C71585;
				background-color:#191970;
}
/* nav ends */

/* profile start */
.profile{
				background-color:#663399;
				text-align: center;
				padding: 100px;
				margin-top: 20px;
				box-shadow: black;
				transition: .5s;
				transform: (.9);
}
.profile:hover{
				transform: scale(.9);
}
.profile h1{
				font-size: 2.9rem;
				color:#008080;
}
.profile span{
				font-size:2.8rem;
				color:#00008B;
}
.profile p{
				font-size: 1.8rem;
				color:#008000;
}

/* profile ends */

/* about start */
.about-logo img{
				width: 320px;
				height: auto;
				margin: 0px 10px;
				margin-bottom: 10px;
				box-shadow: 0px 80px 10px 0px #000;
				transition: .5s;
}
.about-logo img:hover{
				transform: scale(.9);
}
.about-text{
				width: 520px;
				height: auto;
				padding: 0px 20px;
}	

.about-text h2{
				font-size:25px;
				font-wieght: bold;
				text-transform: uppercase;
				border-bottom: 1px solid #fff;
				margin-botton: 20px;
	
}
.about-text p{
				font-size: 25px;
				line-height: 30px;
				margin:8px 0px;
}
.row{
				overflow: auto;
				
}
.col{
				float: left;
}
.about-section{
				background-color: green;
				padding: 50px 0px;
				margin-top: 20px;
				transition: .5s;
}
.about-section:hover{
				transform: scale(.9);
}
.title{
				width: 180px;
				height: auto;
				margin: 0 auto;
}
.title h2{
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px solid #fff;
				text-align: center;
				margin-bottom: 30px;
}
/* about ends */

/* Skill start */
.skill{
				width: 290px;
				height: auto;
				border:1px solid #fff;
				text-align: center;
				transition: .7s;
				display: inline-block;
				margin: 12px;
}
.skill:hover{
				transform: scale(.9);
}
.skill h3{
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 10px;
				color:#8B008B;
}
.skill p{
				font-size: 15px;
				line-height: 22px;
				padding:0px 14px;
}
.skill-section{
				background-color: #696969;
				margin-top: 10px;
}
.serv-icon{
				font-size: 40px;
				margin-top: 10px;
				margin-bottom: 10px;
}
.serv-icon:hover{
				color:#8B0000;
}
/* Skill ends */

/* contact start */
.contact-section{
				background-color: #2F4F4F;
				padding: 40px 0px;
				margin-top: 10px;
}
.contact-from{
				width: 600px;
				height: auto;
				margin: 0 auto;
				margin-top: 22px;
}

.inputTag input{
				width: 100%;
				padding: 10px;
				font-size: 1rem;
				text-align: center;
				border: none;
				border-radiuse: 5px;
				resize: none;
				border: 0;
				margin:8px 0px;
}
.inputTag textarea{
				text-align: center;
				width: 103%;
}
.contact-section button{
				border: none;
				border-radius: 10px;
				background-color: #052d2f;
				color: white;
				cursor: pointer;
				padding: 15px;
				margin: 10px;
				width: 100px;
}

/* contact ends */

/* footer start */
.footer-section{
				background-color: black;
				margin-top: 10px;
			
}
.title h2{
				color: white;
}
.title h2:hover{
				color:red;
}
.ber{
				text-align: center;
				text-weight: bold;
				font-size:2.5rem;
				text-decoration: none;
				color: white;
}
.icon a{
				text-align: center;
				font-size:4.9rem;
				color:#FF8C00;
			  margin:20px 50px;
			  display: inline-block;
}


.icon :hover{
				color:brown;
}
.copy{
				color:white;
				text-align: left;
				font-size: 1.5rem;
}
.footer::after{
    display: table;
    content: '';
    clear: both;
}
.new Typed{
				font-size: 10.1rem;
				color: brown;
}

/* footer ends */
